// main background color
$mainBgDarkColor:#2D3A4B;
$mainBgLightColor:#F0F2F5;
$mainBgCleanColor:#FFF;
$mainBgTextColor:#EEF1F6;

// main font color
$mainFontColor:white;
$mainFontSelectedColor:#1F9FFF;
$mainFontLightColor:#BFCBD9;
$mainFontTitleColor:#24292E;
$mainFontSubTitleColor:#BBB;

// main line color
$mainLineColor:#EBEEF5;
$mainLineSelectedColor:#409EFF;

// main font size
$mainFontSize: 14px;
$mainFontSmallSize: 12px;
$mainFontBigSize: 16px;

// main line size
$mainLineSize: 1px;
$mainLineSelectedSize: 3px;

// screen size
$screenMD: 719px;
$screenLG: 1200px;