.display-pc-and-pad{
  display: block !important;
}

.display-pad-and-phone{
  display: block !important;
}

.display-pc{
  display: none !important;
}

.display-phone{
  display: none !important;
}

